<div id="services" ></div>


<section  class="services">

  <!-- Left side: Intro -->
  <div class="intro">
    <!-- <h2>
      Re - <span class="highlight">innovate</span><br />
      <span class="bold">Digital</span> Mediums are no more a <span class="bold">luxury.</span>
    </h2> -->
      <h2>
      Re - <span class="highlight" [class.fade]="isFading">{{ currentWord }}</span><br />
      <span class="bold">In today’s world,</span> going digital is not a choice, <span class="bold">it’s a must.</span>
    </h2>

    <p class="italic">
    <p>
      There are countless platforms to grow your business, but the real question is: which ones truly work for you?<br />

Let’s explore the right path together. <br />
Talk to us — we might just be the partner you’re looking for.
    </p>
    <button class="btn">TALK TO US</button>
  </div>

  <!-- Right side: Service cards -->
  <div class="service-cards">
    <div class="card">
      <i class="fas fa-code"></i>
      <h3>Web Development</h3>
      <p>Build to view on any device.</p>
    </div>

    <div class="card">
      <i class="fas fa-pencil-ruler"></i>
      <h3>Web Design</h3>
      <p>Get a visual influential design / tool.</p>
    </div>

    <div class="card">
      <i class="fas fa-search"></i>
      <h3>SEO</h3>
      <p>The first page or do not exist (Do or Die).</p>
    </div>

    <div class="card">
      <i class="fas fa-shopping-cart"></i>
      <h3>Ecommerce</h3>
      <p>Make it easy for your customers.</p>
    </div>

    <div class="card">
      <i class="fas fa-layer-group"></i>
      <h3>UI/UX Design</h3>
      <p>Let your user love your interface.</p>
    </div>
  </div>
</section>