.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;   // adjust based on your logo size
      width: auto;
      display: block;
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li a {
      text-decoration: none;
      font-weight: 1000;
      color: #333;
      transition: color 0.3s;

      &:hover {
        color: #2575fc;
      }
    }
  }

  .btn-quote {
    background: linear-gradient(90deg, #ff3a82, #5233ff);
      color: white;
      font-weight: 600;
      font-size: 1rem;
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease;
      text-transform: uppercase;
      letter-spacing: 1px;
      box-shadow: 0 4px 20px rgba(255, 58, 130, 0.3);

    &:hover {
      transform: translateY(-2px);
        box-shadow: 0 6px 25px rgba(255, 58, 130, 0.4);
    }
  }
}
