
 <nav class="navbar" [ngClass]="{ 'transparent': isHero, 'colored': !isHero }">

  <!-- Overlay -->
  <div class="menu-overlay" [class.active]="isMenuOpen" (click)="isMenuOpen = false"></div>

  <!-- Responsive Sidebar -->
  <div class="responsive-nav" [class.show]="isMenuOpen">
    <div class="logo-resp">
      <a (click)="scrollToSection('hero')">
        <img id="logo" [src]="currentLogo" alt="Logo" />
      </a>
    </div>

    <div class="links-respo">
      <ul class="nav-links-r-n">
        <li><a (click)="goToHome('home'); isMenuOpen=false" [ngClass]="{ 'active': activeLink === 'home' }">Home</a></li>
        <li><a (click)="goToHome('services'); isMenuOpen=false" [ngClass]="{ 'active': activeLink === 'services' }">Services</a></li>
        <li><a (click)="goToHome('portfolio'); isMenuOpen=false" [ngClass]="{ 'active': activeLink === 'portfolio' }">Portfolio</a></li>
        <li><a (click)="goToHome('about'); isMenuOpen=false" [ngClass]="{ 'active': activeLink === 'about' }">About</a></li>
        <li><a (click)="goToHome('contact'); isMenuOpen=false" [ngClass]="{ 'active': activeLink === 'contact' }">Contact</a></li>
        <li><button class="btn-quote-mobile" (click)="goToHome('contact'); isMenuOpen=false">Get Quote</button></li>
      </ul>
    </div>
  </div>

  <!-- Desktop Logo -->
  <div class="logo">
    <a (click)="scrollToSection('hero')">
      <img id="logo" [src]="currentLogo" alt="Logo" />
    </a>
  </div>

  <!-- Desktop Menu -->
  <ul class="nav-links">
    <li><a (click)="goToHome('home')" [ngClass]="{ 'active': activeLink === 'home' }">Home</a></li>
    <li><a (click)="goToHome('services')" [ngClass]="{ 'active': activeLink === 'services' }">Services</a></li>
    <li><a (click)="goToHome('portfolio')" [ngClass]="{ 'active': activeLink === 'portfolio' }">Portfolio</a></li>
    <li><a (click)="goToHome('about')" [ngClass]="{ 'active': activeLink === 'about' }">About</a></li>
    <li><a (click)="goToHome('contact')" [ngClass]="{ 'active': activeLink === 'contact' }">Contact</a></li>
  </ul>

  <button class="btn-quote" (click)="goToHome('contact')">Get Quote</button>

  <button class="btn-theme" (click)="toggleTheme()">
  <i *ngIf="isDarkTheme" class="fas fa-moon"></i>
  <i *ngIf="!isDarkTheme" class="fas fa-sun"></i>
</button>

  <!-- Theme + Hamburger -->
  <div class="btn-theme-container">
    <button class="btn-theme-r-n" (click)="toggleTheme()">
      <i *ngIf="isDarkTheme" class="fas fa-moon"></i>
      <i *ngIf="!isDarkTheme" class="fas fa-sun"></i>
    </button>

   <button class="hamburger" [class.active]="isMenuOpen" (click)="isMenuOpen = !isMenuOpen" aria-label="Toggle menu" [attr.aria-expanded]="isMenuOpen">
  <span></span>
  <span></span>
  <span></span>
</button>
  </div>
</nav>
