<nav class="navbar" [ngClass]="{ 'transparent': isHero, 'colored': !isHero }">
  <div class="logo">
    <a (click)="scrollToSection('hero')">
      <img id="logo" [src]="currentLogo" alt="Logo"/>
    </a>
  </div>

  <ul class="nav-links">
    <li><a (click)="goToHome('home')">Home</a></li>
    <li><a (click)="goToHome('services')">Services</a></li>
    <li><a (click)="goToHome('portfolio') ">Portfolio</a></li>
    <li><a (click)="goToHome('about') ">About</a></li>
    <li><a (click)="goToHome('contact') ">Contact</a></li>
  </ul>

  <!-- Theme Toggle Button -->
  <button class="btn-theme" (click)="toggleTheme()">
  <i *ngIf="isDarkTheme" class="fas fa-moon"></i>
  <i *ngIf="!isDarkTheme" class="fas fa-sun"></i>
</button>
</nav>
