  <!-- <div class="reviews-container">
  <h2 class="title">Client Testimonials</h2>

  <div class="review-content">
    <span class="quote left">“</span>
    <p class="review-text">
      {{ reviews[currentIndex].message }}
    </p>
    <span class="quote right">”</span>
  </div>

  <div class="client-info">
    <img
      class="client-image"
      [src]="reviews[currentIndex].image"
      alt="{{ reviews[currentIndex].name }}"
    />
    <div>
      <h3>{{ reviews[currentIndex].name }}</h3>
      <p>{{ reviews[currentIndex].company }}</p>
    </div>
  </div>

  <div class="nav-buttons">

    
    <button (click)="prevReview()">&#10094;</button>
    <button (click)="nextReview()">&#10095;</button>
  </div>
</div> -->


<h2 class="title">Client Testimonials</h2>
<div class="reviews-section">
  <div class="review-card">
    <img src="assets/download.png" alt="Client" class="client-img" />
    <h3>Dr Gholamreza Parazaran</h3>
    <ul class="review-points">
      <li>Sed morbi commodo risus.</li>
      <li>Eget ut commodo.</li>
      <li>Ac euismod cras odio.</li>
      <li>Cursus sapien.</li>
    </ul>
    <div class="review-footer">
      <div class="rating">Give us Rate <span>8 of 10</span></div>
      <button class="voice-btn">Customer’s Voice</button>
    </div>
  </div>

  <div class="review-card">
       <img src="assets/download.png" alt="Client" class="client-img" />

    <h3>Normal Name</h3>
    <ul class="review-points">
      <li>Quisque amet ut velit at donec.</li>
      <li>Sodales odio sit ac.</li>
      <li>Arcu vitae morbi arcu enim ut.</li>
      <li>Ipsum id facilisis metus at.</li>
    </ul>
    <div class="review-footer">
      <div class="rating">Give us Rate <span>8 of 10</span></div>
      <button class="voice-btn">Customer’s Voice</button>
    </div>
  </div>

  <div class="review-card">
      <img src="assets/download.png" alt="Client" class="client-img" />

    <h3>Dr Parazaran</h3>
    <ul class="review-points">
      <li>Sit nam vitae aliquet nibh.</li>
      <li>Neque est rhoncus.</li>
      <li>Nunc id vitae nibh pulvinar.</li>
      <li>Euismod aenean et vitae sed.</li>
    </ul>
    <div class="review-footer">
      <div class="rating">Give us Rate <span>8 of 10</span></div>
      <button class="voice-btn">Customer’s Voice</button>
    </div>
  </div>
</div>
